<div [formGroup]="form">
  <div [ngSwitch]="question.controlType">
    <mat-form-field appearance="fill" *ngSwitchCase="'textbox'" [style.width.px]=327>
      <mat-label>{{ question.label }}</mat-label>
      <input
        matInput
        [placeholder]="question.label"
        [formControlName]="question.key"
        [id]="question.key"
        [type]="question.type"
        [value]="question.value"
      />
    </mat-form-field>

    <mat-form-field class="example-full-width" appearance="fill" *ngSwitchCase="'dropdown'" [style.width.px]=327>
      <mat-label>{{ question.label }}</mat-label>
      <input matInput
             aria-label="State"
             [matAutocomplete]="auto"
             [formControlName]="question.key">
      <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredOptions | async" [value]="option.key+'-'+option.value">
          {{ option.key }} - {{ option.value }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-form-field appearance="fill" *ngSwitchCase="'textarea'" [style.width.px]=327>

    <mat-form-field appearance="fill" *ngSwitchCase="'textarea'" [style.width.px]=327>
      <mat-label>{{ question.label }}</mat-label>
      <textarea
        matInput
        [id]="question.key"
        [formControlName]="question.key"
        [placeholder]="question.label"
        [type]="question.type"
      ></textarea>
    </mat-form-field>
  </div>

</div>
