<div class="container-table" *ngIf="configuration">
  <div class="title-div">
    <mat-form-field appearance="outline" *ngIf="configuration?.search">
      <mat-label>Buscar</mat-label>
      <mat-icon matSuffix>search</mat-icon>
      <input
        matInput
        (keyup)="applyFilter($event)"
        placeholder="Buscar"
        #input
      />
    </mat-form-field>
    <div>
      <button mat-raised-button color="primary" (click)="registrar($event)">
        Agregar +
      </button>
    </div>
  </div>
  <div class="table-responsive">
    <table
      mat-table
      [dataSource]="dataSource"
      matSort
      (matSortChange)="announceSortChange($event)"
    >
      <ng-container
        matColumnDef="{{ column.columnDef }}"
        *ngFor="let column of configuration.dataTable"
      >
        <th
          mat-header-cell
          *matHeaderCellDef
          mat-sort-header
          sortActionDescription="Sort by {{ column.columnDef }}"
        >
          {{ column.header }}
        </th>
        <td mat-cell *matCellDef="let element">
          <div
            *ngIf="
              column.columnDef === 'fechamodificacion' ||
              column.columnDef === 'fecharegistro' ||
              column.columnDef === 'expirity_date'
            "
          >
            {{ element[column.columnDef] | date : "dd/MM/yyyy": 'UTC' }}
          </div>
          <div *ngIf="column.columnDef === 'acción'" class="d-flex">
            <button
              mat-icon-button
              color="primary"
              *ngIf="actualizar"
              (click)="edit(element)"
            >
              <mat-icon>edit</mat-icon>
            </button>
            <button
              mat-icon-button
              color="warn"
              *ngIf="borrar"
              (click)="delete(element)"
            >
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div
            *ngIf="
              column.columnDef !== 'acción' && column.columnDef !== 'expirity_date'
            "
          >
            {{ element[column.columnDef] }}
          </div>
        </td>
        <!-- <td mat-cell *matCellDef="let element">drama</td> -->
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator
    [pageIndex]="10"
    [pageSizeOptions]="[10, 25, 50]"
    *ngIf="configuration?.pagination"
  >
  </mat-paginator>
</div>
