<div class="row">

    <!-- Statistics -->
    <div class="col-sm-6 col-md-3" *ngFor="let stat of stats">
        <mat-card [ngClass]="['text-white', stat.color]">
            <mat-card-header>
                <mat-card-subtitle class="text-dark">{{stat.title}}</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <h2 class="m-y-8" class="text-dark">{{stat.amount}}</h2>
                <small class="text-muted">Monthly</small>
            </mat-card-content>
        </mat-card>
    </div>

    <!-- Charts -->
    <div class="col-md-6 mt-4 w-50">
        <mat-card>
            <mat-card-header>
                <mat-card-title>Categories</mat-card-title>
            </mat-card-header>
            <mat-card-content>

                <apx-chart [series]="chartSeries" [chart]="chartDetails" [labels]="chartLabels"> </apx-chart>

            </mat-card-content>
        </mat-card>
    </div>
    <div class="col-md-6 mt-4" >
        <mat-card *ngFor="let warehouse of warehouses" class="my-2">
            <mat-card-header>
                <mat-card-title>{{warehouse}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div id="holder">Warehouse temperature and humidity</div>
                <p>
                    <span class="material-symbols-outlined">
                        device_thermostat
                    </span>
                    TEMPERATURA: <span class="reading"><span id="temp"></span> &deg;C</span>
                </p>
                <p>
                    <span class="material-symbols-outlined">
                        humidity_mid
                    </span>
                    HUMEDAD: <span class="reading"><span id="hum"></span> &percnt;</span>
                </p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
