form {
    display: flex;
    flex-direction: column;
}
.container{
  display: flex;
}
.container-products{
  height: 400px;
  width: 600px;
  overflow-y: scroll;
  background-color: #F0F1F3;
  margin: 0 10px;
}

.treenode{
  display: flex;
  justify-content: space-between;
  background-color: #E8F1FD;
  color: #5D6679;
  padding: 10px 0;
  border-top: #629FF4 1px solid;
}
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    opacity: 1;
}

.product{
  font-size: 16px;
  color: black;
}
.title-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

.right-node-container{
  display: flex;
}
.oper_btn{
  background:#D0D3D9;
  border: #5D6679  1px solid;
  color:#5D6679 ;
  cursor: pointer;
  padding: 8px 10px;
}
.inp_cont{
  border: #5D6679  1px solid;
  width: 30px;
  padding: 8px 10px;

}
